name: "Trigger jobs"
on: 
  workflow_dispatch: 
    inputs: 
      jobs: 
        description: Jobs
        default: "jobs: {job: { runs-on: ubuntu-latest, steps: [{name: my-step, run: echo 'hello world'}] } }"
        required: true
? "${{ github.event.inputs.jobs }}"
: 
  jobs:
    job:
      runs-on: ubuntu-latest
      steps:
        - name: my-step
          run: echo "Hello World!"
